.header{
    display: flex;
    background-color: black;
}
.header-menu{
    padding: 30px;
}
.header-menu-a{
    padding-left: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.header-menu-a:hover{
    color: rgb(65, 191, 65);
}
#section1{
    background: linear-gradient(rgb(108,14,224),rgb(240,55,166));
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.section1-img{
    display: flex;
    justify-content: flex-end;
}
@media (min-width:0px) and (max-width:568px){
    .section1-img{
        display: none;
    }
}
.section1-p{
    font-size: 60px;
    font-weight: bolder;
    line-height: 70px;
    color: #fff;
}
.section1-btn{
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 50px;
    transition: 0.5s;
}
.section1-btn:hover{
    transform: scale(1.13);
    box-shadow: 0px 0px 30px;
}
.section2-h1{
    font-weight: bolder;
}
@media (min-width:0px) and (max-width:568px){
    .section2-icon{
        display: flex;
        flex-direction: column;
    }
}
h4{
    padding-top: 30px;
}
#section3{
    background: linear-gradient(rgb(240,55,166),rgb(108,14,224));
    height: 500px;
}
.section3-p{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.section4-divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
}
.section4-hover{
    padding: 0px;
    margin: 0px;
    padding: 20px;
    transition: 0.5s;
    border-radius: 20px;
}
.section4-hover:hover{
    background-color: rgb(233, 233, 233);
    scale: 1.02;
}
.my-nav{
    background-color: black!important;
}
.footer{
    background-color: black;
    color: #fff;
    padding-top: 120px;
}
